/*
    Promo Jetx Bet Block
 */
.promo-jetx-bet-block {
    margin: 40px 0 60px 0;
}
.promo-jetx-bet-block .promo-jetx-bet-block__container {
    display: grid;
    grid-template-columns: 1fr 500px;
    gap: 30px;
    background: var(--color-background);
    border-radius: 20px;
    padding: 30px;
}
.promo-jetx-bet-block .promo-jetx-bet-block__info {
    display: flex;
    flex-direction: column;
}
.promo-jetx-bet-block .promo-jetx-bet-block__breadcrumbs {
    font-size: 14px;
    color: var(--color-accent);
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 20px;
}
.promo-jetx-bet-block .promo-jetx-bet-block__breadcrumbs a {
    color: var(--color-accent);
    text-decoration: none;
}
.promo-jetx-bet-block .promo-jetx-bet-block__breadcrumbs a:hover {
    opacity: 1;
    text-decoration: underline;
}
.promo-jetx-bet-block .promo-jetx-bet-block__breadcrumbs span {
    color: var(--color-text);
}
.promo-jetx-bet-block .promo-jetx-bet-block__title {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-text);
    margin-bottom: 16px;
    line-height: 48px;
}
.promo-jetx-bet-block .promo-jetx-bet-block__desc {
    font-size: 14px;
    color: var(--color-text);
    line-height: 22px;
    font-weight: 300;
    margin-bottom: 16px;
}
.promo-jetx-bet-block .promo-jetx-bet-block__cta-btn {
    background-color: var(--color-accent);
    color: var(--color-text);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    border-radius: 20px;
    padding: var(--padding);
    text-decoration: none;
    box-shadow: 0 2px 16px 0 rgba(37,99,235,0.08);
    transition: background 0.18s;
}
.promo-jetx-bet-block .promo-jetx-bet-block__cta-btn:hover {
    background-color: var(--color-btn-hover);
    color: var(--color-text);
}
.promo-jetx-bet-block .promo-jetx-bet-block__media {
    display: flex;
    align-items: center;
}
.promo-jetx-bet-block .promo-jetx-bet-block__img {
    border-radius: 20px;
}
.promo-jetx-bet-block .promo-jetx-bet-block__title--mobile {
    display: none;
}
.promo-jetx-bet-block .promo-jetx-bet-block__desc--mobile {
    display: none;
}
@media (max-width: 900px) {
    .promo-jetx-bet-block {
        margin-bottom: 50px;
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__title {
        display: none;
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__desc {
        display: none;
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__title--mobile {
        display: block;
        font-size: 30px;
        font-weight: 700;
        line-height: 36px;
        margin-bottom: 16px;
        color: var(--color-text);
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__desc--mobile {
        display: block;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
        margin-bottom: 16px;
        color: var(--color-text);
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__container {
        grid-template-columns: 1fr;
        gap: 0;
        padding: 16px;
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__media {
        margin-top: 30px;
    }
    .promo-jetx-bet-block .promo-jetx-bet-block__cta-btn {
        text-align: center;
    }
}

/*
    Main Sports Block
 */
.main-sports-block {
    margin-bottom: var(--margin);
}
.main-sports-block .main-sports-block__container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
}
.main-sports-block .main-sports-block__promo {
    background-color: var(--color-background);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
}
.main-sports-block .main-sports-block__promo-title {
    color: var(--color-text);
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 30px;
}
.main-sports-block .main-sports-block__promo-title span {
    font-weight: 700;
    font-size: 23px;
    display: inline-block;
}
.main-sports-block .main-sports-block__promo-img {
    width: 150px;
    position: absolute;
    align-self: flex-end;
}
.main-sports-block .main-sports-block__signup-btn {
    background: var(--color-secondary-btn);
    color: var(--color-text);
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    border-radius: 20px;
    padding: 11px 16px;
    text-decoration: none;
    transition: background .18s;
    border: none;
}
.main-sports-block .main-sports-block__signup-btn:hover {
    background-color: var(--color-secondary-btn-hover);
    color: var(--color-text);
}
.main-sports-block .main-sports-block__sports-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 0fr);
    gap: 20px;
}
.main-sports-block .main-sports-card {
    background: var(--color-background);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    transition: background 0.18s, box-shadow 0.18s;
}
.main-sports-block .main-sports-card span {
    color: var(--color-text);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}
@media (max-width: 900px) {
    .main-sports-block {
        margin-bottom: 50px;
    }
    .main-sports-block .main-sports-block__container {
        grid-template-columns: 1fr;
        gap: 10px;
    }
    .main-sports-block .main-sports-block__promo--tall {
        grid-row: unset;
        height: auto;
    }
    .main-sports-block .main-sports-card {
        gap: 10px;
    }
    .main-sports-block .main-sports-block__sports-grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}
